/* Created on : 03/12/2018
 * Author     : Ingrid Pinedo
 * Version    : 1.0
 * Content    : Font variable
 */

/* Principal Font */
$principal-font-light: Raleway-light;
$principal-font-regular: Raleway-regular;
$principal-font-medium: Raleway-medium;
$principal-font-semibold: Raleway-semibold;
$principal-font-bold: Raleway-bold;
$principal-font-black: Raleway-black;