# OS-related
# ===========
.DS_Store
ehthumbs.db
Icon?
Thumbs.db

# Node and related ecosystem
# ==========================
.nodemonignore
.sass-cache/
node_modules/
public/lib/
app/tests/coverage/
coverage/
.coveralls.yml
.idea/

# MEAN.js app and assets
# ======================
#assets/
dist/
uploads
modules/users/client/img/profile/uploads
config/env/local.js
config/env/local-*.js

# Keys
# ====
*.pem

# Compiled less and sass files
# ============================
modules/*/client/scss/*.css
modules/*/client/less/*.css

# Ignoring MEAN.JS's gh-pages branch for documentation
_site/

# General
# =======
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.tmp
*.bak
*.swp
logs/
build/

# Sublime editor
# ==============
.sublime-project
*.sublime-project
*.sublime-workspace

# IntelliJ
# ========
*.iml

# Cloud9 IDE
# =========
.c9/
data/
mongod


# Files from style template
# ============================
public/stylesheets/css/
#public/fonts/
public/img/

# Test results
# ============================
tests_output