/* Created on : 03/12/2018
 * Author     : Ingrid Pinedo
 * Version    : 1.0
 * Content    : Modals
 */

/* MODAL ALERT */
.modal-alert {
	.modal-content {
		padding: 30px;

		.modal-header, 
		.modal-body, 
		.modal-footer {
			padding: 0;
		}

		.modal-header {
			border-bottom: none;
			margin-bottom: 20px;
		    display: flex;
		    align-items: center;
		    justify-content: center;

		}

		.modal-title {
			font-size: 18px;
			font-weight: bold;
			line-height: normal;
			text-align: center;
			display: block;
		}

		.modal-body {}

		p.text-centered {
			font-size: 12px;
			line-height: 1.67;
			text-align: center;
			display: block;
			margin-bottom: 0;
		}

		.modal-footer {
			border-top: none;
			margin-top: 50px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}
/* END MODAL ALERT */


/* MODAL NORMAL */
.modal {
	.modal-content {
		padding: 25px;

		.modal-header, 
		.modal-body, 
		.modal-footer {
			padding: 0;
		}
	}

	.modal-header {
		display: block;
		margin-bottom: 60px;
		border-bottom: none;

		.close-modal {
			position: absolute;
			top: 22px;
			right: 25px;
			font-size: 25px;
			transition: 0.5s;
		}

		.modal-title {
		  	font-size: 18px;
		  	font-weight: 600;
		  	line-height: normal;
		  	display: block;
		  	margin-bottom: 3px;
		}

		.modal-subtitle {
			font-size: 12px;
			font-weight: 600;
			line-height: 1.33;
			display: block;
			margin-bottom: 0;
		}
	}

	.modal-body {
		max-height: 415px;
		overflow: hidden;
		overflow-y: auto;
	    padding-right: 16px !important;

	  	&::-webkit-scrollbar {
	    	width: 4px;
	    	height: 0px;
	  	}

	  	&::-webkit-scrollbar-track {
	    	background-color: $grey_2;
	    	border-radius: 30px;
	  	}

	  	&::-webkit-scrollbar-thumb {
	    	background-color: $grey_1;
	    	border-radius: 30px;
	  	}

		.content-img {
			text-align: center;
			img {
				margin: 0 auto;
				max-height: 225px;
				margin-bottom: 30px;
			}
			label {
				font-size: 18px;
				font-weight: bold;
				line-height: normal;
				text-align: center;
				display: block;
				margin-bottom: 8px;
			}
			p {
				font-size: 14px;
				font-weight: normal;
				line-height: 1.71;
				text-align: center;
				display: block;
				margin-bottom: 0;
			}
		}
	}

	.modal-footer {
		border-top: none;
		margin-top: 50px;
	}
}

.modal-backdrop.show {
	background-color: $primary;
}
/* END MODAL NORMAL */