/* Created on : 03/12/2018
 * Author     : Ingrid Pinedo
 * Version    : 1.0
 * Content    : Layout app styles
 */

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  overflow-y: auto;
  height: 100%;
}

html:not(.ie9) body {
  overflow-y: auto;
}

body {
  min-height: 100%;
  margin:0;
}

html,
body {
  position: relative;
  box-sizing: border-box;
  background-color: #f8f9ff;
}

a {
  text-decoration: none;
}