/* Created on : 03/12/2018
 * Author     : Ingrid Pinedo
 * Version    : 1.0
 * Content    : Classes without category
 */
.neutral-width {
  width: 100%;
  max-width: 1440px;
  margin: auto;

  &.topbar {
    padding: 0 85px;
    max-width: 1610px;
  }
}

.client-content {
  padding: 0 85px;
}

.client-cover {
  height: 480px;
  margin-bottom: 60px;

  .cover-container {
    height: 420px;
    top: 60px;
    position: relative;

    .img-container {
      height: 100%;
      width: 100%;

      img {
        height: 100%;
        object-fit: cover;
        width: 100%;
      }
    }

    .info {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      min-width: 100%;
      padding: 0 30px;

      p {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.88;
        text-align: center;
        color: #b4b8ca;
        max-width: 780px;
        margin: auto;
        overflow: hidden;
        display: -webkit-box !important;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        height: 114px;
        overflow: hidden;
      }

      h3 {
        font-size: 20px;
        font-weight: bold;
        line-height: normal;
        text-align: center;
        margin-bottom: 0;
        color: #8f95b0;
      }

      h1 {
        font-size: 60px;
        font-weight: normal;
        line-height: normal;
        text-align: center;
        color: white;
      }

      .divider {
        background-color: #19babd;
        width: 65px;
        height: 3px;
        margin: 15px auto 25px;
      }
    }

    .filter {
      z-index: 4;
      max-width: 1440px;
      width: calc(100% - 170px);
      background: rgb(255, 255, 255);
      bottom: -35px;
      border-radius: 5px;
      box-shadow: 2px 0 10px 0 rgba(56, 73, 99, 0.2);
      padding: 20px 30px;
      margin: auto;
      position: absolute;
      left: 50%;
      transform: translate(-50%,0%);
      display: flex;

      .filter-container {
        width: calc(100% - 70px);
        display: flex;

        .fg-line {
          border-right: none;
        }
      }

      .filter-btn {
        width: 70px;
        min-height: 30px;
        border-radius: 0 2px 2px 0;
        background: rgb(106, 114, 150);
        color: rgb(255, 255, 255);
        font-size: 12px;
        border: none;
        cursor: pointer;
        transition: 0.5s;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}

.footer-client {
  padding: 30px 85px;
  width: 100%;

  .develop-by {
    .divider {
      width: 40px;
      height: 1px;
      margin: auto;
      margin-bottom: 20px;
    }
    p {
      margin-bottom: 0;
      font-size: 12px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      img {
        width: 95px;
        height: 22px;
      }

    }
  }

  .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    .img-responsive {
      max-width: 200px;
      float: right;
    }

    span {
      &:nth-child(1) {
        img {
          margin-bottom: 30px;
        }
      }

      ul {
        margin: 0;
        padding: 0;
        list-style: none;

        label {
          font-size: 16px;
          font-weight: bold;
          line-height: normal;
          margin-bottom: 30px;
          text-transform: uppercase;
        }

        li {
          padding-right: 15px;
          a {
            position: relative;
            width: fit-content;
            opacity: 0.7;
            font-size: 14px;
            font-weight: 500;
            line-height: 1.57;
            display: block;
            margin-bottom: 22px;
            text-decoration: none;

            &:before {
              content: "";
              position: absolute;
              width: 100%;
              height: 2px;
              bottom: -4px;
              left: 0;
              visibility: hidden;
              -webkit-transform: scaleX(0);
              transform: scaleX(0);
              -webkit-transition: all 0.3s ease-in-out 0s;
              transition: all 0.3s ease-in-out 0s;
            }

            &:hover:before {
              visibility: visible;
              -webkit-transform: scaleX(1);
              transform: scaleX(1);
            }
          }
        }
      }
    }
  }
}

.footer-client {
  background-color: #e9ebf7;

  .develop-by {
    .divider {
      background-color: rgb(180, 184, 202);
    }
  }

    .row {

      span {

        ul {

          label {
            font-family: Raleway-regular;
            color: #6a7296;
          }

          li a {
            font-family: Raleway-regular;
            color: #6a7296;

            &:hover:before {
              background-color: #6a7296;
            }
          }
        }

        h1 {
          font-family: Raleway-regular;
          color: #6a7296;

          strong {
            font-family: Raleway-regular;
          }

            ul {

              label {
                font-family: Raleway-regular;
                color: #6a7296;
              }

              li a {
                font-family: Raleway-regular;
                color: #6a7296;

                &:hover:before {
                  background-color: #6a7296;
                }
              }
            }
        }

        p {
          font-family: Raleway-regular;
          color: #6a7296;


          strong {
            font-family: Raleway-regular;
          }
        }
      }
    }



    .divider {
      background-color: transparentize(#6a7296, .9);
    }

  }
.dropdown-inside {
	.fg-line {
		position: relative;
	}

	.fg-input {
	    padding-right: 110px;
	}

	.dropdown {
		position: absolute;
		right: 0;
		top: 0;

		.btn-stroke {
			padding: 0 10px !important;
			text-transform: capitalize !important;
			font-size: 12px !important;
			height: 20px !important;
			min-height: 0px !important;
		}

		.dropdown-menu {
			padding: 0;
		    width: 100px;
		    transform: translate3d(-60px, 20px, 0px);

			ul {
				list-style: none;
				margin: 0;
				padding: 0;

				li {
					font-size: 14px;
					padding: 8px 20px;
					color: $accent;
					font-family: $principal-font-semibold;

					&:hover {
						background-color: transparentize($accent, 0.8);
					}
				}
			}
		}
	}
}

.dropdown.bootstrap-select {
	.dropdown-menu.show {
		.inner.show {
			.dropdown-menu.inner.show {
				box-shadow: none;
				width: 100;
				position: relative;
				overflow: hidden;
				overflow-x: auto;

				li {
					width: 100%;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;

					a {
						text-overflow: ellipsis;
						white-space: nowrap;
						overflow: hidden;
					}
				}
			}
		}
	}
}