/* Created on : 03/12/2018
 * Author     : Ingrid Pinedo
 * Version    : 1.0
 * Content    : Classes without category
 */
.about.vertical-center {
	.w-60.m-r-30.o-x-auto {
		&::-webkit-scrollbar {
	  		width: 0;
	  		height: 4px;
		}

		&::-webkit-scrollbar-track {
	  		background-color: $grey_2;
	  		border-radius: 30px;
		}

		&::-webkit-scrollbar-thumb {
	  		background-color: $grey_1;
	  		border-radius: 30px;
		}
	}
}

.buttons-right {
   display: flex;
   align-items: center;
   justify-content: flex-end;
   width: fit-content;
   float: right;
   top: 0;
   right: 0;
}

.dropdown.bootstrap-select {
	.dropdown-menu.show {
		.inner.show {
			.dropdown-menu.inner.show {
				box-shadow: none;
				width: 100;
				position: relative;
				overflow: hidden;
				overflow-x: auto;

				li {
					width: 100%;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;

					a {
						text-overflow: ellipsis;
						white-space: nowrap;
						overflow: hidden;
					}
				}
			}
		}
	}
}

.floating-label-table {
	padding-left: 26px;
	font-family: $principal-font-semibold;
  	font-size: 12px;
  	font-weight: 600;
  	line-height: 1.33;
  	color: $plain_text;
  	position: relative;
  	display: block;

	&::before {
		content: " ";
		width: 14px;
	  	height: 14px;
	  	position: absolute;
	  	left: 0;
	  	top: 0;
	}
	&.info::before {
		background-color: $info;
	}
	&.error::before {
		background-color: $error;
	}
}

.img-centered {
	text-align: center;
	padding: 50px 0;

	img {
		margin: 0 auto 37px;
	}

	h1 {
		font-family: Raleway-bold;
		font-size: 18px;
		font-weight: bold;
		line-height: normal;
		text-align: center;
		color: $primary;
		display: block;
		margin-top: 0;
		margin-bottom: 10px;
	}
	
	p {
		font-family: Raleway-regular;
		font-size: 14px;
		font-weight: normal;
		line-height: 1.43;
		text-align: center;
		color: $plain_text;
		display: block;
		margin-bottom: 0;
	}
}

.list-dots {
	list-style: none;
	margin: 0 0 30px;
	padding: 0;
	min-width: 400px;

	li {
		font-family: $principal-font-regular;
		font-size: 14px;
		font-weight: normal;
		line-height: 2.14;
		color: $plain_text;
		position: relative;
		display: block;

		&:after {
			content: "";
		    width: 100%;
		    height: 1px;
		    position: absolute;
		    bottom: 4px;
		    left: 0;
		    background-position: bottom;
		    background-repeat: repeat-x;
		    background-size: 8px 1px;
		    background-image: linear-gradient(to right, $plain_text 10%, rgba(255, 255, 255, 0) 0%);
		}

		span {
			margin: 0 0 0 auto;
			display: inline-flex;
			float: right;
			right: 0;
			background-color: $white;
			padding: 0 2px;
		}
	}
}

.non-list {
	margin-top: 20px;
    overflow: hidden;
    overflow-x: auto;

	span {
		display: flex;
		align-items: center;
    	margin-bottom: 20px;
	    min-width: 350px;
    	
    	small {
	    	font-family: Raleway-medium;
		  	font-size: 12px;
		  	font-weight: 500;
		  	line-height: normal;
		  	text-align: right;
		  	color: $info_text;
		  	width: 35%;
		  	min-width: 35%;
    	}

    	i {
    		margin: 0 14px;
    	}

    	strong {
    		font-family: Raleway-semibold;
		  	font-size: 14px;
    		font-weight: 600;
    		color: $info_text;
    	}
	}

	&::-webkit-scrollbar {
  		width: 0;
  		height: 4px;
	}

	&::-webkit-scrollbar-track {
  		background-color: $grey_2;
  		border-radius: 30px;
	}

	&::-webkit-scrollbar-thumb {
  		background-color: $grey_1;
  		border-radius: 30px;
	}
}

.panel-table {
	overflow: hidden;
	overflow-x: auto;
	margin: 0 -15px;

	&::-webkit-scrollbar {
	  	width: 0px;
	  	height: 4px;
	}

	&::-webkit-scrollbar-track {
	  	background-color: $grey_2;
	  	border-radius: 30px;
	}

	&::-webkit-scrollbar-thumb {
	  	background-color: $grey_1;
	  	border-radius: 30px;
	}

	> div {
		min-width: 700px;
	}

	.border-lines {
		padding: 14px 15px;
		border-top: 1px solid $grey_2;
		border-bottom: 1px solid $grey_2;

		label {
			font-family: $principal-font-bold;
			font-size: 12px;
			font-weight: bold;
			line-height: 1.5;
			color: $primary;
			padding: 2px 10px;
			background-color: transparent;
			text-transform: uppercase;
			display: flex;
		    margin-bottom: 0;
		    align-items: center;
		    width: fit-content;
		    border-radius: 2px;

			i {
				margin-left: 6px;
				font-size: 16px;
				color: $info;
			}

			&:hover {
				background-color: transparentize($info, 0.9);
			}
		}
	}

	.divider {
		width: 200px;
		height: 1px;
		margin: 0 auto;
		background-color: $grey_2;
	}
}

.re-captcha {
	min-width: 200px; 
	max-width: 300px;
	max-height: 70px; 
	overflow: hidden;
    display: block;
}

.table {
	.height-60 {
		td.c-error {
			background-color: transparentize($error, 0.82);
		}
		td.c-info {
			background-color: transparentize($info, 0.82);
		}
	}
}

.tacometro-container {
	display: flex;
	align-items: center;
	justify-content: center;

	& + .button-primary {
		border-color: $grey_2;
	    box-shadow: none;
	    margin: 30px auto 0;
	    display: flex;
	}
}

.zmdi-chevron-left-double:before {
	content: '\f2fb \f2fb';
}
.zmdi-chevron-right-double:before {
	content: '\f2fa \f2fa';
}