/* Created on : 03/12/2018
 * Author     : Ingrid Pinedo
 * Version    : 1.0
 * Content    : Classes without category
 */
.dropdown-inside {
	.fg-line {
		position: relative;
	}

	.fg-input {
	    padding-right: 110px;
	}

	.dropdown {
		position: absolute;
		right: 0;
		top: 0;

		.btn-stroke {
			padding: 0 10px !important;
			text-transform: capitalize !important;
			font-size: 12px !important;
			height: 20px !important;
			min-height: 0px !important;
		}

		.dropdown-menu {
			padding: 0;
		    width: 100px;
		    transform: translate3d(-60px, 20px, 0px);
		    
			ul {
				list-style: none;
				margin: 0;
				padding: 0;

				li {
					font-size: 14px;
					padding: 8px 20px;
					color: $accent;
					font-family: $principal-font-semibold;

					&:hover {
						background-color: transparentize($accent, 0.8);
					}
				}
			}
		}
	}
}

.dropdown.bootstrap-select {
	.dropdown-menu.show {
		.inner.show {
			.dropdown-menu.inner.show {
				box-shadow: none;
				width: 100;
				position: relative;
				overflow: hidden;
				overflow-x: auto;

				li {
					width: 100%;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;

					a {
						text-overflow: ellipsis;
						white-space: nowrap;
						overflow: hidden;
					}
				}
			}
		}
	}
}

.floating-label-table {
	padding-left: 26px;
	font-family: Raleway-semibold;
  	font-size: 12px;
  	font-weight: 600;
  	line-height: 1.33;
  	color: $plain_text;
  	position: relative;
  	display: block;

	&::before {
		content: " ";
		width: 14px;
	  	height: 14px;
	  	position: absolute;
	  	left: 0;
	  	top: 0;
	}
	&.info::before {
		background-color: $info;
	}
	&.error::before {
		background-color: $error;
	}
}

.table {
	.height-60 {
		td.c-error {
			background-color: transparentize($error, 0.82);
		}
		td.c-info {
			background-color: transparentize($info, 0.82);
		}
	}
}