/* Created on : 03/12/2018
 * Author     : Ingrid Pinedo
 * Version    : 1.0
 * Content    : Media Queries
 */

/* HEIGHT */
@media screen and (max-height: 1024px) {
	.sidebar {
		.footer-sidebar {
			position: relative;
			margin-top: 50px;
		}
	}
}

/* WIDTH */
@media screen and (max-width: 400px) {
	.header .right .links .notifications-btn .dropdown-menu {
		right: initial !important;
    left: -30px !important;
	}
}

@media screen and (max-width: 600px) {
	.box-tabs .nav {
		justify-content: center;
	}

	.card-header {
		padding: 20px !important;
	}

	.collapsible-status .collapsible-header {
		display: block;
		.info-container {
			padding-right: 0;
		}
		.btn-accordion {
			float: initial;
			position: initial;
			margin-top: 20px;
			margin-bottom: 20px;
		}
	}

	.cover-container .info {
		top: 40% !important;
	}

	.footer-client {
		.img-logo {
			margin-top: 30px;
			text-align: center;
			img {
				float: initial !important;
			}
		}
	}

	.form-btn-top {
    	width: 100%;
	}

	.material-tabs {
		.nav {
			justify-content: center;
		}
	}

	.modal-content {
		padding-right: 15px !important;
	}

	.modal-footer.aditional-text {
		display: block;
		.total-footer {
			margin-top: 0;
			margin-bottom: 20px;
			display: block;
		}
		.button-info_text {
			float: left;
		}
		.button-accent {
			float: right;
		}
	}

	nav[aria-label=pagination] {
		display: block;
		text-align: center;

		.pagination {
			margin: 20px auto 0;
		    justify-content: center;
		}
	}

	.recaptcha-container {
	    display: block !important;
		.re-captcha {
			margin: 0 auto;
		}  
		.text-align-r.m-auto-left {
			.btn-raised {
			    margin: 0 auto;
			}
		}  
	}

	.search-container {
		width: 100%;
		margin-bottom: 5px;
	}

	.simple-login {
		.right-side {
			padding: 40px 25px;
		}
		.m-t-60 {
			margin-top: 30px !important;
		}
		.login-btn {
			width: 100%;
			max-width: initial;
			flex: none;
			margin-bottom: 20px !important;
			a {
				margin: auto;
				float: initial !important;

			}
		}
	}

	.toast {
		max-width: 300px !important;
		right: 5px !important;

	  	span {
	  		font-size: 10px !important;
	  	}
	}
}

@media screen and (max-width: 767px) {
	.disclaimer-text .divider-line {
		margin: 40px auto 40px !important;
	}
	.images-logos-container {
		grid-template-columns: repeat(2, 1fr) !important;
		max-width: 400px !important;
		margin-bottom: 70px !important;
	}
	.about.vertical-center {
		display: block !important;
		img {
		    margin: 0 auto !important;
		}

		.w-60 {
			width: 100% !important;
		}
	}

	.buttons-right.w-50,
	.floating-text.w-50 {
		width: 100% !important;
	}

	.buttons-right.w-50 {
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.p-relative.d-flex.vertical-center.m-b-20 {
		display: block !important;
	}

	.container-footer {

	}
	.container-panel-info {
		> div {
			max-width: 100% !important;
		}
	}

	.floating-title-dash,
	.floating-title-form {
	    display: block;
	    .side-left,
	    .side-right {
	    	margin-bottom: 10px;
	    }
	    .btn-raised {
    	    margin: 0 0 0 auto;
	    }
	}

	.floating-title-panel {
		h1 {
			font-size: 25px !important;
		}

		&.long-text h1 {
			font-size: 20px !important;
		}

		.side-right {
			position: relative;
			margin-top: -15px;
			margin-bottom: 10px;
		}
	}

	.header {
		.left {
			padding-left: 15px !important;
			padding-right: 0px;
		}
		.right {
			padding-right: 15px !important;
			padding-left: 0px;

			.links {

				.topMenuDropdown {
					min-width: 175px;

				}
				.notifications-btn {
					.dropdown-toggle {
						margin: 0px 7px;
					}
					.dropdown-menu {
						width: 230px;
						right: -73px;
					}
				}
				.hideresp {
					display: none;
				}
				.topMenuDropdown .dropdown-menu {
					.hideresp {
						display: inline-block;
					}
				}
			}
		}
	}

	#main #content {
		padding-left: 15px !important;
		padding-right: 15px !important;

		.container-footer {
			padding: 5px 15px 10px !important;
			display: block;
			grid-template-columns: inherit;
			text-align: center;

			> div {
				display: block;
				&:nth-child(2) {
					margin-bottom: 5px;
				}
				&:nth-child(3) {
					text-align: center;
				}
			}
		}
	}

	.simple-login .left-side .login-footer {
		display: none;
	}

	.table.form-table {
		.row-buttons-hover {
			opacity: 1;
			background-color: transparent !important;
			.table-buttons-hover {
				position: relative;
				background-color: transparent;
			}
		}
	}
}

@media screen and (max-width: 991px) {

	.extra-info-disclaimer {
		padding: 5px 30px !important;
	}

.profile {
  .user-info {
    display: initial;
    .img-profile {
			margin: auto;
      width: 130px;
      min-width: 130px;
      height: 130px;
			margin-right: auto;
			margin-bottom: 30px;
      img {
        object-fit: contain;
        height: 100%;
        width: 100%;
  
      }
    }

  }
}

	.floating-title-panel.big {
		display: initial;
		h1 {
			margin-bottom: 20px !important;
		}
	}
	.container-panel-info {
		display: flex;
		flex-wrap: wrap;

		> div {
			max-width: 25%;
		}
	}

	.client-content,
	.client-cover .cover-container {
		padding: 0 30px !important;
	}

	.client-cover {
		.cover-container {
		  .info {
		    p {
					font-size: 14px !important;
					-webkit-line-clamp: 5 !important;
			    height: 125px !important;
		    }

		    h3 {
			    font-size: 15px !important;
		    }

		    h1 {
					font-size: 40px !important;
		    }
		  }
		}
	}

	.footer-client {
		padding: 30px 30px !important;
	}

	.neutral-width {
	  &.topbar {
	    padding: 0 30px !important;
	  }
	}

	.modal-content {
		&.min-w-600px {
			min-width: inherit !important;
		}
	}
	.simple-login {
		.left-side {
			width: 100%;
			height: 150px;
			.logo {
				display: inline-flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				padding: 40px 70px;

			}
			.info {
				display: none;
			}

			.login-footer {
				//display: none;
				position: absolute;
				right: 15px;
				bottom: 15px;
				padding: 0;
			}
		}
		.right-side {
			height: initial;
			background-color: transparent;
			padding-bottom: 20px;
			padding-top: 40px;
			width:100%;
			.principal-title {
				text-align: center;
			}
			.info {
				text-align: center;
			}
		}
	}
}

@media screen and (max-width: 1024px) {
	.container-footer {
		padding: 30px 30px;
	}
	.header {
		.left {
			padding-left: 30px;
		}

		.right {
			padding-right: 30px;
			.admin {
				ul {
					display: none;
				}
				.topMenuDropdown {
					display: inline-block;
				}
			}
		}
	}

	#main #content {
		padding-left: 30px;
		padding-right: 30px;

		.container-footer {
			padding-left: 30px;
			padding-right: 30px;
		}
	}

	.sidebar {
	    left: -260px;
	    .top-logo .btn-close-resp {
	    	display: flex;
	    }
	}
}