/*
 * Material Background Colors
 */
.bgm-white, .b-c-w {
    background-color: #ffffff !important;
}

.c-white {
    color: #ffffff !important;
}

.bgm-black {
    background-color: #000000 !important;
}

.c-black {
    color: #000000 !important;
}

.bgm-brown {
    background-color: #795548 !important;
}

.c-brown {
    color: #795548 !important;
}

.bgm-dark-gray {
    background-color: #80838c !important;;
}

.c-dark-gray {
    color: #80838c !important;
}

.bgm-pink {
    background-color: #e91e63 !important;
}

.c-pink {
    color: #e91e63 !important;
}

.bgm-red {
    background-color: #f86f64 !important;
}

.c-red {
    color: #f86f64 !important;
}

.bgm-blue {
    background-color: #4990e2 !important;
}

.c-blue {
    color: #4990e2 !important;
}

.bgm-purple {
    background-color: #9c27b0 !important;
}

.c-purple {
    color: #9c27b0 !important;
}

.bgm-deeppurple {
    background-color: #673ab7 !important;
}

.c-deeppurple {
    color: #673ab7 !important;
}

.bgm-lightblue {
    background-color: #03a9f4 !important;
}

.c-lightblue {
    color: #03a9f4 !important;
}

.bgm-cyan {
    background-color: #00bcd4 !important;
}

.c-cyan {
    color: #00bcd4 !important;
}

.bgm-teal {
    background-color: #009688 !important;
}

.c-teal {
    color: #009688 !important;
}

.bgm-green {
    background-color: #4caf50 !important;
}

.c-green {
    color: #4caf50 !important;
}

.bgm-lightgreen {
    background-color: #8bc34a !important;
}

.c-lightgreen {
    color: #8bc34a !important;
}

.bgm-lime {
    background-color: #cddc39 !important;
}

.c-lime {
    color: #cddc39 !important;
}

.bgm-yellow {
    background-color: #ffeb3b !important;
}

.c-yellow {
    color: #ffeb3b !important;
}

.bgm-amber {
    background-color: #ffc107 !important;
}

.c-amber {
    color: #ffc107 !important;
}

.bgm-orange {
    background-color: #db7544 !important;
}

.c-orange {
    color: #db7544 !important;
}

.bgm-deeporange {
    background-color: #ff5722 !important;
}

.c-deeporange {
    color: #ff5722 !important;
}

.bgm-gray {
    background-color: #9e9e9e !important;
}

.c-gray {
    color: #9e9e9e !important;
}

.bgm-bluegray {
    background-color: #607d8b !important;
}

.c-bluegray {
    color: #607d8b !important;
}

.bgm-darkblue {
    background-color: #192941 !important;
}

.c-darkblue {
    color: #192941 !important;
}

.bgm-indigo {
    background-color: #3f51b5 !important;
}

.c-indigo {
    color: #3f51b5 !important;
}

.bgm-darkgray {
    background-color: #4c4c4c !important;
}

.c-darkgray {
    color: #4c4c4c !important;
}

.bgm-purple-dark {
    background-color: #4f469d !important;
}

.c-purple-dark {
    color: #4f469d !important;
}