/* Created on : 03/12/2018
 * Author     : Ingrid Pinedo
 * Version    : 1.0
 * Content    : Palette Colors variable
 */
$primary: #454e7b;
$accent: #19babd;

$success: #6ec284;
$error: #eb6262;
$warning: #ffc043;
$info: #587fe3;

$title: #454e7b;
$plain_text: #6a7296;
$info_text: #8f95b0;
$grey_1: #b4b8ca;
$grey_2: #dadce5;
$grey_3: #e9ebf7;

$background: #f8f9ff;
$black: #242424;
$white: #ffffff;
$cards: #f7f8f9;