/* Created on : 03/12/2018
 * Author     : Ingrid Pinedo
 * Version    : 1.0
 * Content    : Font variable
 */

/* Principal Font */
$principal-font-light: raleway-light;
$principal-font-regular: raleway-regular;
$principal-font-medium: raleway-medium;
$principal-font-semibold: raleway-semibold;
$principal-font-bold: raleway-bold;
$principal-font-black: raleway-black;