/* Created on : 03/12/2018
 * Author     : Ingrid Pinedo
 * Version    : 1.0
 * Content    : Palette Colors variable
 */

$accent: #19babd;
$primary: #454e7b;
$background: #f8f9ff;
$semantic-red: #eb6262;
$semantic-yellow: #ffc043;
$semantic-green: #6ec284;
$semantic-blue: #2077dc;
$grey-1: #6a7296;
$grey-2: #8f95b0;
$grey-3: #b4b8ca;
$grey-4: #dadce5;
$grey-5: #e9ebf7;
$neutral: #ffffff;