/* Created on : 03/12/2018
 * Author     : Ingrid Pinedo
 * Version    : 1.0
 * Content    : Classes without category
 */
.about.vertical-center {
	.w-60.m-r-30.o-x-auto {
		&::-webkit-scrollbar {
	  		width: 0;
	  		height: 4px;
		}

		&::-webkit-scrollbar-track {
	  		background-color: $grey_2;
	  		border-radius: 30px;
		}

		&::-webkit-scrollbar-thumb {
	  		background-color: $grey_1;
	  		border-radius: 30px;
		}
	}
}

.donut-graph-admin {
	svg {
		overflow: initial !important;

	}
	foreignObject {
		overflow: initial!important;

	}
	.apexcharts-legend {
		bottom: -40px !important;
	}
}

.buttons-right {
   display: flex;
   align-items: center;
   justify-content: flex-end;
   width: fit-content;
   float: right;
   top: 0;
   right: 0;
}

.floating-label-table {
	padding-left: 26px;
	font-family: $principal-font-semibold;
  	font-size: 12px;
  	font-weight: 600;
  	line-height: 1.33;
  	color: $plain_text;
  	position: relative;
  	display: block;

	&::before {
		content: " ";
		width: 14px;
	  	height: 14px;
	  	position: absolute;
	  	left: 0;
	  	top: 0;
	}
	&.info::before {
		background-color: $info;
	}
	&.error::before {
		background-color: $error;
	}
}

.img-centered {
	text-align: center;
	padding: 50px 0;

	img {
		margin: 0 auto 37px;
	}

	h1 {
		font-family: Raleway-bold;
		font-size: 18px;
		font-weight: bold;
		line-height: normal;
		text-align: center;
		color: $primary;
		display: block;
		margin-top: 0;
		margin-bottom: 10px;
	}
	
	p {
		font-family: Raleway-regular;
		font-size: 14px;
		font-weight: normal;
		line-height: 1.43;
		text-align: center;
		color: $plain_text;
		display: block;
		margin-bottom: 0;
	}
}

.list-dots {
	list-style: none;
	margin: 0 0 30px;
	padding: 0;
	min-width: 400px;

	li {
		font-family: $principal-font-regular;
		font-size: 14px;
		font-weight: normal;
		line-height: 2.14;
		color: $plain_text;
		position: relative;
		display: block;

		&:after {
			content: "";
		    width: 100%;
		    height: 1px;
		    position: absolute;
		    bottom: 4px;
		    left: 0;
		    background-position: bottom;
		    background-repeat: repeat-x;
		    background-size: 8px 1px;
		    background-image: linear-gradient(to right, $plain_text 10%, rgba(255, 255, 255, 0) 0%);
		}

		span {
			margin: 0 0 0 auto;
			display: inline-flex;
			float: right;
			right: 0;
			background-color: $white;
			padding: 0 2px;
		}
	}
}

.non-list {
	margin-top: 20px;
    overflow: hidden;
    overflow-x: auto;

	span {
		display: flex;
		align-items: center;
    	margin-bottom: 20px;
	    min-width: 350px;
    	
    	small {
	    	font-family: Raleway-medium;
		  	font-size: 12px;
		  	font-weight: 500;
		  	line-height: normal;
		  	text-align: right;
		  	color: $info_text;
		  	width: 35%;
		  	min-width: 35%;
    	}

    	i {
    		margin: 0 14px;
    	}

    	strong {
    		font-family: Raleway-semibold;
		  	font-size: 14px;
    		font-weight: 600;
    		color: $info_text;
    	}
	}

	&::-webkit-scrollbar {
  		width: 0;
  		height: 4px;
	}

	&::-webkit-scrollbar-track {
  		background-color: $grey_2;
  		border-radius: 30px;
	}

	&::-webkit-scrollbar-thumb {
  		background-color: $grey_1;
  		border-radius: 30px;
	}
}

.panel-table {
	overflow: hidden;
	overflow-x: auto;
	//margin: 0 -15px;

	&::-webkit-scrollbar {
	  	width: 0px;
	  	height: 4px;
	}

	&::-webkit-scrollbar-track {
	  	background-color: $grey_2;
	  	border-radius: 30px;
	}

	&::-webkit-scrollbar-thumb {
	  	background-color: $grey_1;
	  	border-radius: 30px;
	}

	> div {
		min-width: 700px;
	}

	.border-lines {
		padding: 14px 15px;
		border-top: 1px solid $grey_2;
		border-bottom: 1px solid $grey_2;

		label {
			font-family: $principal-font-bold;
			font-size: 12px;
			font-weight: bold;
			line-height: 1.5;
			color: $primary;
			padding: 2px 10px;
			background-color: transparent;
			text-transform: uppercase;
			display: flex;
		    margin-bottom: 0;
		    align-items: center;
		    width: fit-content;
		    border-radius: 2px;

			i {
				margin-left: 6px;
				font-size: 16px;
				color: $info;
			}

			&:hover {
				background-color: transparentize($info, 0.9);
			}
		}
	}

	.divider {
		width: 200px;
		height: 1px;
		margin: 0 auto;
		background-color: $grey_2;
	}
}

.re-captcha {
	min-width: 200px; 
	max-width: 300px;
	max-height: 70px; 
	overflow: hidden;
    display: block;
}

.table {
	.height-60 {
		td.c-error {
			background-color: transparentize($error, 0.82);
		}
		td.c-info {
			background-color: transparentize($info, 0.82);
		}
		td.c-success {
			background-color: transparentize($success, 0.82);
		}
	}
}

.tacometro-container {
	display: flex;
	align-items: center;
	justify-content: center;

	& + .button-primary {
		border-color: $grey_2;
	    box-shadow: none;
	    margin: 30px auto 0;
	    display: flex;
	}
}

.zmdi-chevron-left-double:before {
	content: '\f2fb \f2fb';
}
.zmdi-chevron-right-double:before {
	content: '\f2fa \f2fa';
}

.scroll-dropdown {
	.dropdown-menu {
		max-height: 250px!important;
		overflow: auto!important;
		transform: none !important;
		top: 27px !important;
		left: initial !important;
		right: 0 !important;
	}
}

.extra-info-disclaimer{
	background: rgb(255, 255, 255);
    padding: 10px 85px;
	// margin-bottom: -70px;
	box-shadow: 0 150px white;
	margin-top: 40px;

}

.images-logos-container {
	// display: flex;
	// justify-content: space-between;
	display: grid;
    grid-template-columns: repeat(8, 1fr);
	// max-width: 900px;
	margin-top: 30px;
	margin: auto;
	grid-gap: 10px 20px;
	margin-bottom: 0px;

	.item {
		// float: left;
		// width: 190px;
		display: flex;
		align-items: center;	
		padding: 10px;
		// margin-bottom: 20px;
		img {
			width: 100%;
			max-height: 130px;
			object-fit: contain;
		}
	}
}

.disclaimer-text {
	margin-top: 40px;
	strong {
		font-size: 14px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.71;
		color: #6a7296;
	}
	font-size: 14px;
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.71;
	letter-spacing: normal;
	text-align: justify;
	color: #6a7296;
	.divider-line {
		width: 50%;
		border-radius: 5px;
		height: 2px;
		background: #6a7296;
		opacity: .2;
		margin: 0px auto 70px;
	}
}

.bootstrap-select .dropdown-menu li a span.text {
	white-space: initial !important;
}

.dropdown-menu {
	&::-webkit-scrollbar {
        width: 10px;
        height: 0;
      }
    
      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 10px 10px #dadce5;
        border: solid 3px transparent;
        border-radius: 10px;
      }
    
      &::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 10px 10px #b4b8ca;
        border: solid 3px transparent;
        border-radius: 10px;
      }
	.inner {
		&::-webkit-scrollbar {
			width: 10px;
			height: 0;
		  }
		
		  &::-webkit-scrollbar-track {
			box-shadow: inset 0 0 10px 10px #dadce5;
			border: solid 3px transparent;
			border-radius: 10px;
		  }
		
		  &::-webkit-scrollbar-thumb {
			box-shadow: inset 0 0 10px 10px #b4b8ca;
			border: solid 3px transparent;
			border-radius: 10px;
		  }
	}
}