/* Created on : 03/12/2018
 * Author     : Ingrid Pinedo
 * Version    : 1.0
 * Content    : Fontface
 */

/*--------------------
  Raleway Light
---------------------*/
@font-face {
  font-family: Raleway-light;
  font-display: fallback;
  src: url('../../../fonts/Raleway/Raleway-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/*--------------------
  Raleway Regular
---------------------*/
@font-face {
  font-family: Raleway-regular;
  font-display: fallback;
  src: url('../../../fonts/Raleway/Raleway-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/*--------------------
  Raleway Medium
---------------------*/
@font-face {
  font-family: Raleway-medium;
  font-display: fallback;
  src: url('../../../fonts/Raleway/Raleway-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

/*--------------------
  Raleway SemiBold
---------------------*/
@font-face {
  font-family: Raleway-semibold;
  font-display: fallback;
  src: url('../../../fonts/Raleway/Raleway-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

/*--------------------
  Raleway Bold
---------------------*/
@font-face {
  font-family: Raleway-bold;
  font-display: fallback;
  src: url('../../../fonts/Raleway/Raleway-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/*--------------------
  Raleway Black
---------------------*/
@font-face {
  font-family: Raleway-black;
  font-display: fallback;
  src: url('../../../fonts/Raleway/Raleway-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}