.tippy-popper {
	.tippy-tooltip {
		padding: 6px 10px;
		background-color: $primary !important;

		.tippy-arrow {
			border-bottom-color: $primary !important;
		}

		.tippy-content {
			color: $white;
			font-size: 10px;
			font-family: $principal-font-medium;
		}
	}
}