/* Created on : 03/12/2018
 * Author     : Ingrid Pinedo
 * Version    : 1.0
 * Content    : Media Queries
 */

/* HEIGHT */
@media screen and (max-height: 1024px) {
	.sidebar {
		.footer-sidebar {
			position: relative;
			margin-top: 50px;
		}
	}
}

/* WIDTH */
@media screen and (max-width: 768px) {
	.header {
		.left {
			padding-left: 15px;
			padding-right: 0px;
		}
		.right {
			padding-right: 15px;
			padding-left: 0px;

			.links {
				.hideresp {
					display: none;
				}
				.topMenuDropdown .dropdown-menu {
					.hideresp {
						display: inline-block;
					}
				}
			}
		}
	}

	#main #content {
		padding-left: 15px !important;
		padding-right: 15px !important;

		.container-footer {
			padding-left: 15px !important;
			padding-right: 15px !important;
		}
	}
}
@media screen and (max-width: 991px) {}
@media screen and (max-width: 1024px) {
	.header {
		.left {
			padding-left: 30px;
		}

		.right {
			padding-right: 30px;
			.admin {
				ul {
					display: none;
				}
				.topMenuDropdown {
					display: inline-block;
				}
			}
		}
	}

	#main #content {
		padding-left: 30px !important;
		padding-right: 30px !important;

		.container-footer {
			padding-left: 30px !important;
			padding-right: 30px !important;
		}
	}

	.sidebar {
	    left: -260px;
	    .top-logo .btn-close-resp {
	    	display: flex;
	    }
	}
}